<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>subtotal</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<% @cart_items.each do |a| %>
		<tr>
			<td><%= a.item.title %></td>
			<td><%= a.quantity %></td>
			<td><%= a.price  %></td>
			<td><%= a.subtotal  %></td>>

      <td><%#= a.item.category.name %></td>
      <td><%#= a.description%></td>
			<td><%#= a.item.category.name %></td>
			<td><%#= a.description%></td>
			<td><%= link_to 'Show', a %></td>
      <td><%= link_to 'Edit', edit_product_path(a) %></td>
      <td>  <%= link_to cart_item_remove_path(a) do %>
               remove         
            <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @cart_items.count > 0 %>
  <%= link_to @cart_items_path do %> 
  Total Items
  <%= @cart_items.count %>
  <% end %>
  <% else %>
     <a href="#" class="menu-cart"><i class="fa fa-shopping-cart"></i> 0 </a>
<% end %> 

total amount = <%= @cart.subtotal %>

<strong>Select one Address </strong>
        <%= form_for "data", url: "/checkout_razor" do |form| %>
           
            
          <button type="submit" class="btn btn-warning btn-block btn-lg"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Checkout with Razorpay &#8377;<%= @cart.subtotal %></button>
        </div>
        
           <a href="/addresses/new">Create new address </a>

          <div class="card">
            <div class="card-body">
               <!-- <form action="/addresses" method="GET"> -->
                <!-- <button type="submit" value = "dadad" class="btn btn-warning btn-block btn-lg"><i class="fa fa-shopping-bag" aria-hidden="true"></i> cash on delivery &#8377;<%#= @cart.subtotal %></button> -->
                <input type="submit" name="order[cash_on_delivery]" class="btn btn-warning btn-block btn-lg" value="cash on delivery &#8377;<%= @cart.subtotal %>" />
              <!-- </form> -->
              <br>
              <!-- <form action="/create-checkout-session" method="POST"> -->
                <button type="submit" class="btn btn-warning btn-block btn-lg"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Checkout with stripe &#8377;<%= @cart.subtotal %></button>

                 
              <!-- </form> -->
            </div>
          </div>
        <% end %>  
      </div>
    </div>
